# Challenge 08 - Pandas Tasks

Using the data below answer the following questions:
    
   1. Provide the total movies release by year.
   2. Find the number of records in revenue that are null or the value 0.  Drop those values and create a new dataframe.
   3. Calculate the total revenue made from 1977 to 1980 on any films labeled comedy. The final result should have the number comma separated. For example if the answer is 5000, the print out should be "$ 5,000".

In [ ]:
import pandas as pd
df = pd.read_csv("https://github.com/maazh/IMDB-Movie-Dataset-Analysis/blob/master/tmdb-movies.csv?raw=true")